<br>
<div class="container">
  <center><h1>PRACTICA 1</h1></center>
  <table class="table">
  <thead class="table-dark">
      <tr>
          <th scope="col">NOMBRE</th>
          <th scope="col">APELLIDO</th>
          <th scope="col">SEXO</th>
          <th scope="col">EDAD</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>{{nombre}}</td>
          <td>{{apellido}}</td>
          <td>{{sexo}}</td>
          <td>{{edad}}</td>
        </tr>
    </tbody>
  </table>
  
</div>



